header{background-image:url("../photos/biografia-header.jpg")}.content{display:flex;justify-content:flex-start;align-items:center;flex-direction:column;margin-bottom:100px}.content h1{font-size:60px;margin-bottom:60px;position:absolute;top:150px}.content p{margin:20px 0;padding:0 40px;font-size:20px}.content img{width:80%;margin:20px 0}body footer{position:absolute;bottom:0;left:0;right:0;height:100px}@media only screen and (max-width: 1000px){.podstrona-body .content img{width:100%}}
