html
  padding: 0
  margin: 0
  height: 110%
  width: 100%

body
  background-image: url("../photos/iza-grzybowska-photographer-halinka-mlynkowa-gala-4.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  height: 110%
  width: 100%

  .content
    padding-bottom: 60px
    height: 180%
    #head-title
      padding-top: 30%
    h1
      font-size: 60px
    #menu-pointer
      width: 30px
      cursor: pointer

  .page1
    height: 50%
  .page2
    height: 50%

  section
    margin: 100px 9% 0 9%

    .block
      opacity: 0
      width: 100%
      height: 100%
      font-size: 20px

    .block:hover
      opacity: 1
      color: white
      text-transform: uppercase
      width: 100%
      height: 100%
      background: rgba(0,0,0,0.4)
      padding: 24px 24px
      display: flex
      align-items: flex-end

    .no-padding
      padding: 0

    .padding-12-left
      padding-left: 12px

    .padding-12-right
      padding-right: 12px

    .column-flex
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    #wydarzenia-block
      height: 368px
      width: 100%
      background-image: url("../photos/block/1.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      margin-bottom: 24px

    #biografia-block
      height: 244px
      width: 100%
      background-image: url("../photos/block/BIOGRAFIA.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover

    #muzyka-block
      height: 244px
      width: 100%
      background-image: url("../photos/block/MUZYKA.jpg")
      background-position: top center
      background-repeat: no-repeat
      background-size: cover
      margin-bottom: 24px

    #koncerty-block
      height: 368px
      width: 100%
      background-image: url("../photos/block/KONCERTY.jpg")
      background-position: bottom center
      background-repeat: no-repeat
      background-size: cover

    #charity-block
      height: 172px
      width: 100%
      background-image: url("../photos/block/CHARITY.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      margin-bottom: 24px

    #kontakt-block
      height: 172px
      width: 100%
      background-image: url("../photos/block/5.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover

@media only screen and (max-width: 1000px)
  body
    section
      margin: 30px 0 0 0
      .no-padding, .padding-12-left, .padding-12-right
        padding: 0

      #wydarzenia-block, #biografia-block, #muzyka-block, #koncerty-block, #charity-block, #kontakt-block
        height: 150px
        width: 100%
        margin: 0

      .block
        opacity: 1
        width: 100%
        height: 100%
        color: white
        text-transform: uppercase
        padding: 24px 24px
        display: flex
        align-items: flex-end

    .content
      #head-title
        padding-top: 60%

@media only screen and (max-width: 700px)
  body
    background-size: cover

    .content
      #head-title
        padding-top: 90%