header
  background-image: url("../photos/biografia-header.jpg")

.content
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  margin-bottom: 100px
  .event-row
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: row
    padding: 10px 0
    border-bottom: 1px solid black
    img
      height: 20px
  .event-row:hover
    background-image: url("../photos/biografia-header.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    color: white

  h1
    font-size: 60px
    margin-bottom: 60px
    color: black
    margin-bottom: 60px
    position: absolute
    top: 150px
  h2
    margin-top: 50px
  p
    margin: 10px 40px
    font-size: 20px
  .year-headline
    text-align: center
    border-bottom: 1px solid black

  .koncerty-content
    width: 80%

body
  footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 100px