@font-face
  font-family: "Diet Sweet"
  src: url(halina_theme/assets/fonts/Dita-Sweet.otf)

html
  padding: 0
  margin: 0
  position: relative
  min-height: 100%
  width: 100%

body
  font-family: "Diet Sweet"
  padding: 0
  margin: 0
  color: black

  header
    #hamburger-nav
      height: 70px
      width: 70px
      left: 50px
      top: 0px
      z-index: 1
      cursor: pointer
      display: block
      padding: 20px 7px 18px 7px
      position: fixed
      background: black
      transition: transform 300ms ease-in-out

    #hamburger-nav.transitioned
      transform: translate(0px, -70px)

    #hamburger-nav > div
      margin-bottom: 5px
      background-color: #fff
      border: 2px solid #eee
      border-radius: 5px
      margin-top: 3px
      width: 56px

    nav
      opacity: 1
      left: -260px
      top: 0px
      position: fixed
      z-index: 2
      width: 260px
      height: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      overflow-x: hidden
      overflow-y: auto
      background: black
      color: white
      transition: transform 300ms ease-in-out
      ul
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-around
        list-style: none
        width: 100%
      li
        position: relative
        font-size: 1.4em
        font-weight: bold
        padding: 26px 15px
        a, a:hover, a:focus
          color: white
          text-decoration: none
      #close-menu
        height: 50px
        cursor: pointer
        margin: 15px 0px 30px 50px

    nav.transitioned
      transform: translate(260px, 0px)

  a, a:hover, a:focus
    text-decoration: none

  footer
    height: 100px
    width: 100%
    background: black
    color: white
    margin-top: 50px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    img
      height: 50px
      margin: 0 25px

.podstrona-body
  height: 100%
  header
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    height: 210px
    margin-bottom: 100px

    .gradient
      position: absolute
      bottom: 0
      height: 40%
      width: 100%
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%) /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%) /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */

@media only screen and (max-width: 700px)

  body
    header
      #hamburger-nav
        left: 0

@media only screen and (max-width: 400px)

  body
    footer
      img
        margin: 0 10px
