header
  background-image: url("../photos/kontakt-header.jpg")

.content
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  margin-bottom: 100px
  h1
    font-size: 60px
    margin-bottom: 60px
    position: absolute
    top: 150px
  h3
    margin-top: 50px

body
  footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 100px