header
  background-image: url("../photos/header/1.jpg")

  #back-button
    z-index: 1
    height: 70px
    width: 70px
    position: fixed
    left: 50px
    top: 70px
    background: black
    color: white
    display: flex
    justify-content: center
    align-items: center
    transition: transform 400ms ease-in-out
    .glyphicon
      font-size: 30px
      padding: 5px 5px

  #back-button.transitioned
    transform: translate(0px, -140px)

.content
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  margin-bottom: 100px

  p
    margin: 20px 40px
    font-size: 20px
    text-indent: 40px

  a
    width: 80%

  a, a:hover, a:focus
    color: black
    text-decoration: none

  #post-title
    margin: 50px 0 40px 0
    width: 75%
    display: flex
    justify-content: center
    align-items: flex-end
    flex-direction: row
    font-size: 25px

  .gallery
    width: 80%
    margin: 24px 0
    #photo1 > div
      height: 720px
      background-image: url("../photos/biografia-header.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
    #photo2 > div
      height: 348px
      background-image: url("../photos/biografia-header.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      margin-bottom: 24px
    #photo3 > div
      height: 348px
      background-image: url("../photos/biografia-header.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
    #photo4 > div
      height: 720px
      background-image: url("../photos/biografia-header.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      margin-top: 24px

body
  footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 100px

@media only screen and (max-width: 700px)

  header
    #back-button
      left: 0