header
  background-image: url("../photos/header/1.jpg")

.content
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  margin-bottom: 100px
  h1
    font-size: 60px
    margin-bottom: 60px
    position: absolute
    top: 150px
  .post
    position: relative
    .post-image
      height: 130px
      width: 100%
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      img
        width: 100%
    .post-content
      height: 100px
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 20px
    .hover-div
      opacity: 0
      position: absolute
      width: 100%
      height: 100%
      background: rgba(0,0,0,0.4)

  .post:hover
    .hover-div
      opacity: 1


  a
    width: 80%

  a, a:hover, a:focus
    color: black
    text-decoration: none

body
  footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 100px